<div class="left-column">
  <header class="header" id="headerElement" itemtype="http://schema.org/Organization" role="banner">
    <button class="mobile-menu" type="button" id="mobile-button">
      <span class="mobile-menu--bar"></span>
      <span class="mobile-menu--bar"></span>
      <span class="mobile-menu--bar"></span>
    </button>

    <a href="/<%=exampleURL %>" class="header--link" rel="home" itemprop="url">
      <svg class="header__logo" width="70px" height="70px" alt="Logo for the JavaScript Canon" id="logo">
        <image class="header__logo" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/js-logo.svg" src="/img/js-logo.png" width="70px" height="70px" alt="Logo for the JavaScript Canon" id="logo"></image>
      </svg>
    </a>

    <div class="header__innerText">
      <h1 class="header__title" id="title">
        The JavaScript Canon
      </h1>

      <h2 class="header__subtitle" id="subtitle">
        Top-notch JavaScript learning resources curated by <a href="http://twitter.com/kaidez" class="header--twitterLink">@kaidez</a>
      </h2>

    </div>

    <nav class="nav nav--notVisible" id="navigation" role="navigation">
      <h2 class="nav__header">display by resource type</h2>
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="/<%=exampleURL %>" class="nav__button">show all types</a>
        </li>
        <% types.forEach(function(item) { %>
        <li class="nav__list-item">
          <a href="/<%=exampleURL %>/type/<%=item %>" class="nav__button">
            <%=item %>
          </a>
        </li>
        <% }); %>
        <li class="nav__list-item-home nav--link-top-padding"><a href="/" class="nav--homepage-link nav__button-home">return to main site</a></li>
        <li class="nav__list-item-home"><a href="/about" class="nav--homepage-link nav__button-home">about</a></li>
      </ul>
    </nav>

  </header> <!-- #headerElement -->
</div>